<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="The personal homepage of Liam Jones; Coder, student, and sysadmin.">
  <meta name="author" content="Liam Jones">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/main.css">
  
  <link rel="icon" type="image/png" href="static/images/favicon.png">

</head>

<body>
  {% block content %}{% endblock %}
  
  
  
</body>

</html>