{% extends "base.html" %} 
{% block title%}Liam Jones{% endblock %} 
{% block content %}
<div class="container">
  <div class="row">
    <div class="twelve columns" id="intro">
      <h1>Liam Jones</h1>
      <img class="u-max-full-width" src="static/images/profile.jpg">
      <p>Likes to code.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="six columns offset-by-three">
      <h2>A brief introduction.</h2>
    </div>
  </div>
  <div class="row">
    <div class="six columns offset-by-three">
      <p>I like to work, study, travel and relax. You know, the average human things! I'm currently back at university completing a Masters while working part time. They certainly keep me busy!</p>
      <strong>Past</strong>
      <ul>
        <li>Bachelor of Arts - University of Western Australia</li>
        <li>Systems Administrator - CSA Global</li>
      </ul>
      <strong>Present</strong>
      <ul>
        <li>Masters of IT - University of Western Australia</li>
        <li>Junior Software Engineer - CGR</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="six columns offset-by-three">
      <h2>Tricks up my sleeve.</h2>
      <p>I could rattle off a longer list, but who needs that? Here's the tech I'm using on a daily basis.</li>
      <ul>
        <li>Amazon Web Services</li>
        <li>Git (Github / Bitbucket)</li>
        <li>Ubuntu</li>
        <li>Python (Flask)</li>
        <li>Ruby (Rails)</li>
        <li>Vagrant</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="six columns offset-by-three">
      <h2>Look on my works.</h2>
      <p>But don't worry, ye mighty, no need for despair.</p>
    </div>
  </div>
  <div class="row">
    <div class="eight columns">
      <p><strong>Statistical data analysis.</strong> This project was undertaken with some members of the Engineering faculty at UWA, to assist them with getting basic statistical analysis
        back on large CSV files. They had started work on using R and Matlab,
        but it was a complicated and unnecessary. Instead, I used Python to
        read the CSV data files, create the statistics,
      then output the results to a HTML for viewing. I used Bootstrap to make things look pretty, too.</p>
    </div>
    <div class="four columns">
      <a href="https://github.com/iJebus/CITS4406-Assignment2" target="_blank"><img
          class="u-max-full-width" src="static/images/ass2.png"></a>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="four columns">
      <a href="http://vintnersreward.com" target="_blank"><img
          class="u-max-full-width" src="static/images/vintners.png"></a>
    </div>
    <div class="eight columns">
      <p><strong>Vintner's Reward.</strong> A simple but attractive landing page for a holiday rental located in Quindalup, Western Australia. That's near Dunsborough and Margaret River, the 
      latter of which is world renowned for wine, food and funnily enough, surfing, if you're into that sort of thing. There's plenty of other fun things to do if you're keen, too. I used the 
      Skeleton framework, with a little Javascript loving for effects.</p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="eight columns">
      <p><strong>Geomantix.</strong> My team's contribution to the Perth 2015 Unearthed competition. The motto? 'The key to successful hazard reporting and geofencing is to have the data available in the 
      field. We tackled this problem by creating a mesh network that allows information to be transmitted throughout the area. A network that moves with your workforce'. The project utilised 
      Node.js, Sails.js, Leaflet.js, and good old-fashioned teamwork.</p>
    </div>
    <div class="four columns">
      <a href="http://challengepost.com/software/geomantix"
         target="_blank"><img class="u-max-full-width"
                              src="static/images/geomantix.jpg"></a>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="four columns">
      <a href="http://springportals.com" target="_blank"><img
          class="u-max-full-width" src="static/images/spring_logo.png"></a>
    </div>
    <div class="eight columns">
      <p><strong>Spring Portals.</strong> With a lot of our clients, my
        employer and I noticed similar reoccurring problems in a range of
        areas. Using SharePoint internally, we the saw the opportunity to
      provide a solution. Thus Spring Portals was born; a range of modules addressing common issues facing small to medium mining companies. Oh and I did the website, too. We used SharePoint2010/2013, 
      AWS, Microsoft Server/SQL Server 2008, ESRI ArcGIS Server.</p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="eight columns">
      <p><strong>Risk Mapping.</strong> With a lot of employees going on international travel, my employer needed something to help them quickly and easily visualise risk around the world. Their external 
      risk-assessment provider had the data, but it wasn't presented well. I provided an interactive solution that was easy for management staff to use and understand, using that same external data. The 
      solution involved Python, Flask, Celery, Requests and Leaflet.js.</p>
    </div>
    <div class="four columns">
      <img class="u-max-full-width" src="static/images/riskmap.jpg">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h2>Get in touch.</h2>
      <p><a href="https://twitter.com/onlyonestepaway" target="blank">Twitter</a></p>
      <p><a href="https://github.com/iJebus/" target="blank">GitHub</a></p>
    </div>
  </div>
</div>
{% endblock %}
